@(id: Long, computerForm: Form[Computer], companies: Map[String, String])

@import helper._
@import views.html.partials._computerFormFields


@main("Edit Computer"){

<h1>Edit computer</h1>

@form(routes.HomeController.update(id)) {

    @_computerFormFields(computerForm,companies)

    <div>
        <input type="submit" value="Save this computer" class="btn primary"> or
        <a href="@routes.HomeController.list()" class="btn">Cancel</a>
    </div>

}

@form(routes.HomeController.delete(id), 'class -> "topRight") {
    @CSRF.formField
    <input type="submit" value="Delete this computer" class="btn danger">
}
}

